* {
  font-family: 'Roboto', sans-serif;
}

body {
  padding-bottom: 70px;
}

h1 {
  text-align: center;
}

.styled-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
  height: 29px;
  overflow: hidden;
  width: 240px;
}

.btn-margin {
  text-align: right;
  margin-left: 20px;
}
